einops
hpargparse==0.14.0
hpman==0.13.0
transformers
lmdb
loguru==0.7.0
lxml
matplotlib
notebook
omegaconf==2.2.3
opencv-python
pandas
reFILE==0.4.1
sacrebleu==2.2.0
scikit-image
scikit-learn
scipy
seaborn
sentencepiece
smart-open==6.0.0
torch
torchtext
torchvision
tensorboard
timm
tokenizers
tqdm>=4.67.0
wandb